* {
    font-family: 'Creepster', Arial, Helvetica, sans-serif;
    font-size: 16pt;
}
body {
    background-image: url("../../assets/images/Halloween-Ghost-Background.jpg");
    color: lightgray; 
    
}
#gameTitle {
    color: darkorange;
}
#solutionWord {
    font-size: 72pt;
    -webkit-text-stroke: 2px black;   
}